block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title || "🦄"}
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js")
  body.container
    header
      nav.navbar.navbar-expand-md.navbar-light.bg-light
        a.navbar-brand(href='/') Simple login app

        if session.username
          .nav-item.d-block.d-md-none.float-right
            span.navbar-text=session.displayName

        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon

        .collapse.navbar-collapse(id='navbarSupportedContent')
          ul.navbar-nav.mr-auto
            if session.username
              li.nav-item(class={active: url == "/secret"})
                a.nav-link(href='/secret') Secret

          ul.navbar-nav.float-md-right
            if session.username
              li.nav-item.d-none.d-md-block
                span.navbar-text=session.displayName
              li.nav-item(class={active: url == "/logout"})
                a.nav-link(href='/logout') Logout
            else
              li.nav-item(class={active: url == "/login"})
                a.nav-link(href='/login') Login
              li.nav-item(class={active: url == "/register"})
                a.nav-link(href='/register') Register
    #root.container
      block layout-content
